.footer {
  position: fixed;
  bottom: 0;
  background-color: #f7ca18;
  text-align: center;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  font-size: 2em;
  width: 100%;
}
.item {
  margin: 20px;
}

/* =======Reponsiveness for Small Devices========== */

@media screen and (max-width: 600px) {
  .item {
    display: block;
    margin: 4px;
  }
  .footer {
    height: 90px;
    font-weight: lighter;
    font-size: 1.7rem;
  }
}
