.list {
  background-color: whie;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
}
/* =======Reponsiveness for Small Device========== */

@media screen and (max-width: 600px) {
  .list {
    width: 80%;
  }
}
