/* .Header {
  color: #000000;
  background-color: #f7ca18;
  text-align: center;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  font-size: 2em;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.2);
} */
.Header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* width: 100%; */
  background-color: #f7ca18;
  /* justify-content: center;
  align-items: center; */
  height: 50px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.2);
  /* max-width: 100%; */
}
.headsub {
  color: #000000;
  /* border: 1px solid blue; */
  font-weight: bold;
  font-size: 2em;

  /* flex: 1; */
  /* margin: 0 auto;
  width: 100%; */
  text-align: center;
}

@media screen and (max-width: 600px) {
  /* .Header {
    flex-direction: column;
  } */
}
